@media (max-width: 1025px) {
    /* Remove inter-chapter navigation. */
    header.main h2 a,
    header.main nav[aria-role="main"].opened {
        display: none;
    }

    /* Remove quick-access sidebar. */
    .toc {
        display: none;
    }
    article {
        margin-left: 1rem;
    }

    /* Remove bottom navigation labels. */
    footer nav .label {
        display: none;
    }

    /* To avoid scrollbars. */
    .references p {
        max-width: 80%;
    }
    /* To avoid scrollbars. */
    article ul {
        max-width: 100%;
    }
    /* To avoid scrollbars. */
    blockquote {
        margin-left: 0;
        max-width: 75%;
    }
}

@media (max-width: 760px) {
    /* Overwrite tufte to avoid scrollbars. */
    hr,
    section > p,
    section > footer,
    section > table,
    section > ol , ul  {
        width: 90%;
        font-size: 1.3rem;
    }
    header > h1.title {
        font-size: 2.5rem;
    }
    section > h2 {
        font-size: 1.8rem;
    }
    section > h3 {
        font-size: 1.6rem;
    }
    section > h4 {
        font-size: 1.4rem;
    }
}
