/* Same as h2. */
.references summary {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

.references p {
    max-width: 62.5%;
}

.references :target {
    background: white;
}