:root {
    --balloon-color: #2c3e50;
    --balloon-font-size: .9rem;

    --header-background-color: #2c3e50;
    --header-border-color: #6dadb3;
    --header-color: #e9ecef;
    --toc-border-color: #6dadb3;
    --toc-border-active-color: #2c3e50;
    --contenuadd-border-color: #2c3e50;
    --contenuadd-background: #eeeee8;
    --footer-background-color: #fffff8;
    --footer-border-color: #6dadb3;
}
