<h2><a href="currentChapitre.html" title="Naviguer directement entre chapitre">CURRENTTITLE</a></h2></div>
<nav aria-role="main">
<ul>
<li><a href="preface.html">Pr&eacute;face &agrave; l&rsquor;&eacute;dition en langue fran&ccedil;aise</a></li>
<li><a href="introduction.html">Introduction</a></li>
<li><a href="chapitre1.html">Le Printemps arabe : exigeons l&rsquor;exceptionnel</a></li>
<li><a href="chapitre2.html">De meilleures biblioth&egrave;ques pour plus d&rsquor;impact social</a></li>
<li><a href="chapitre3.html">La mission des biblioth&egrave;ques : bien plus que des livres</a></li>
<li><a href="chapitre4.html">Faciliter la cr&eacute;ation de connaissances</a></li>
<li><a href="chapitre5.html">Am&eacute;liorer la soci&eacute;t&eacute;</a></li>
<li><a href="chapitre6.html">Faire communaut&eacute;</a></li>
<li><a href="chapitre7.html">Des biblioth&eacute;caires de g&eacute;nie</a></li>
<li><a href="chapitre8.html">Un plan d&rsquor;action : exigeons de meilleures biblioth&egrave;ques</a></li>
<li><a href="chapitreadd.html">Contenus additionnels</a></li>
<li><a href="glossaire.html">Glossaire</a></li>
<li><a href="bibliographie.html">Bibliographie</a></li>
<li><a href="index-np.html">Index des noms propres</a></li>
<li><a href="colophon.html">Colophon</a></li>
</ul>
</nav>
