<section class="$type$ contenuadd $source$">
<h3> [$titre$]($link$)</h3>

<iframe src="$embed$" width="640" height="548" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

<span style="display: none;">
- Date : $date$
- Langue : $lang$
- Mots-clés : $keywords$
</span>

$body$

<span class="credits">Crédits : $credits$</span>
</section>
